<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feature/Tech-Blog</title>
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="container-fluid">
    <header class="p-3 mb-2 bg-success text-white d-flex">
      <h1>
        <a class="text-white" href="/">FEATURE: the Tech Blog</a>
      </h1>
      <nav class="nav">
        {{#if loggedIn}}
        <a class="nav-link active text-white fw-bold" href="/dashboard">DASHBOARD</a>
        <button id="logout" class="btn btn-danger">LOGOUT</button>
        {{else}}
        <a class="nav-link active text-white" href="/login">LOGIN</a>
        {{/if}}
      </nav>    
     
    </header>
    <main>
      {{{ body }}} <!--data that will be plugged in later-->
    </main>
    <br />
    <footer class="border-top text-center">
      Thanks for visiting! Bring your friends next time!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>