<section>
  <h2>What's New?</h2>

  <form class="new-post-form">
     <div class="form-floating mb-3">
      <input type="text" class="form-control" id="post-title" name="post-title" placeholder="Post title">
      <label for="post-title" class="mt-2">Title</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="post-url" name="post-url" placeholder="Post url">
      <label for="post-url" class="mt-2">Link</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control flex-wrap" id="post-about" name="post-about" placeholder="Brief description of post">
      <label for="post-about" class="mt-2">About</label>
    </div>
    <button type="click" class="new-post-btn btn btn-primary">Create new post</button>
  </form>
</section>

<br />

{{#if posts.length}}
<section>
  <h2>Your Posts History</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    <div>
      Upvotes: {{ post.vote_count }}
    </div>
    {{/each}}
  </ol>
</section>
{{/if}}

 <a href="/login"> &larr; Back to Homepage</a> 


<script src="/javascript/add-post.js"></script>