{{!-- // login form --}}

<div class="container-fluid">

  <div class=" col">
      <div class="row">
        <form class="login-form">
            <div class="mb-3">
              <label for="email-login">email:</label>
              <input type="text" id="email-login" />
            </div>
            <div class="mb-3">
              <label for="password-login">password:</label>
              <input type="password" id="password-login" />
            </div>
            <div>
              <button class="btn btn-primary" type="submit">Click to login</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <br />


{{!-- signup form --}}

  <div class="col">
    <div class="row">
      <form class="signup-form">
        <div class="mb-3">
          <label for="username-signup">username:</label>
          <input type="text" id="username-signup" />
        </div>
        <div class="mb-3">
          <label for="email-signup">email:</label>
          <input type="text" id="email-signup" />
        </div>
        <div class="mb-3">
          <label for="password-signup">password:</label>
          <input type="password" id="password-signup" />
        </div>
        <div>
          <button class="btn btn-primary" type="submit">Click to sign up</button>
        </div>
      </form>
    </div>
  </div>

</div>
<script src="/javascript/login.js"></script> 