{{!-- // login form --}}

<form class="login-form">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
    <label for="email-login" class="mt-2">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="password-login" placeholder="Enter a secure password">
    <label for="password-login" class="mt-2" >Password</label>
  </div>
  <div>
  <button class="login-btn btn btn-primary" type="submit">Click to login</button>
  </div>
</form>
<br />


{{!-- signup form --}}

<form class="signup-form">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="username-signup" placeholder="Username">
    <label for="username-signup" class="mt-2">Username</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
    <label for="email-signup" class="mt-2">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="password-signup" placeholder="Enter a secure password">
    <label for="password-signup" class="mt-2" >Password</label>
  </div>
  <div>
    <button class="signup-btn btn btn-primary" type="submit">Click to sign up</button>
  </div>
</form>

<script src="/javascript/login.js"></script> 