{{> post-info post }}

{{#if loggedIn}}

<br />

<form class="comment-form">
  <div class="form-floating mb-3">
    <textarea name="comment-body" class="form-control"></textarea>
  </div>

<br />

  <div>
    <button type="button" class="comment-btn btn btn-primary">Add Comment</button>
    <button type="button" class="upvote-btn btn btn-primary">Upvote</button>
  </div>
</form>
{{/if}}

<br/>

{{> comments post.comments}}

<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script> 